*{
    font-family: monospace;
}
body {
    text-align: center;
    text-decoration: violet;
    background-color: slategrey;
}
button {
    color: aliceblue;
    border-radius:20%;
    border-style: groove;
    bleed: 10;
    border:darkgoldenrod;
    background-color: gray;
}
