*{
    font-family: monospace;
}
body {
    text-align: center;
    text-decoration: violet;
    background-color: slategrey;
}
button {
    color: aliceblue;
    border-radius:5%;
    border:darkgoldenrod;
    
}
