*{
    font-family: monospace;
}
body {
    text-align: center;
    text-decoration: violet;
    background-color: slategrey;
}
button {
    size: 10%;
    color: aliceblue;
    animation-fill-mode: backwards;
    -ms-zoom-animation: default;
    border-radius:20%;
    border-style: groove;
    bleed: 10;
    border:darkgoldenrod;
    background-color: gray;
}
